@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.Select {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 50px;
}

.txt {
  margin-top: 30px;
  margin-left: 50px;
}

.select-month {
  padding-right: 73px;
  padding-left: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.Select-day-1 {
  padding-right: 115px;
  padding-left: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -15px;
  margin-bottom: 15px;
}

.putyear {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 108px;
}

.Age-at-the-Date-of {
  margin-left: 50px;
  margin-top: 20px;
}

.input-fild {
  display: flex;
}

.button-1 {
  padding: 8px 108px 8px 112px;
  border: none;
  border-radius: 7px;
  background-color: cornflowerblue;
  color: white;
  transition: opacity 0.3s;
}

.button-1:active {
  opacity: 0.6;
  transition: 0.5s;
}

.button-1:hover{
  cursor: pointer;
}


.check-massege {
  margin-top: 20px;
}

.result {
  background-color: lightgray;
  width: 262px;
  height: 150px;
  border-radius: 5px;
  margin-top: 20px;
}

.result-text {
  margin-left: 30px;
  padding-top: 60px;
}

.test-again-btn {
  padding: 8px 100px 8px 100px;
  border: none;
  border-radius: 7px;
  background-color: rgb(100, 237, 194);
  color: black;
  transition: opacity 0.3s;
  margin-top: 20px;
}

.test-again-btn:active {
  opacity: 0.6;
  transition: 0.5s
}

.test-again-btn:hover {
  cursor: pointer;
}
/*
.result-pop {
  background-color: ;
  width: 270px;
  height: 250px;
  border-radius: 5px;
  margin-top: 180px;
  position: absolute;
  margin-left: 46px;
}

.overlay {
 background-color: black;
 width: 360px;
 height: 1000px;
 opacity: 0.8;
 position: absolute;
}
*/